<<<<<<< HEAD
@charset "UTF-8";
.fil2 {fill:#1A1A1A}
.fil4 {fill:#336699}
.fil0 {fill:#333333;fill-rule:nonzero}
.fil1 {fill:#4D4D4D;fill-rule:nonzero}
.fil3 {fill:white;fill-rule:nonzero}
=======
@charset "UTF-8";
.fil2 {fill:#1A1A1A}
.fil4 {fill:#336699}
.fil0 {fill:#333333;fill-rule:nonzero}
.fil1 {fill:#4D4D4D;fill-rule:nonzero}
.fil3 {fill:white;fill-rule:nonzero}
>>>>>>> c4836c902307164218e3d3f5085597705750f63d
